<html>
	<head>
		<script src="https://code.angularjs.org/1.4.0-beta.6/angular.min.js"></script>
		<script
			src="https://code.angularjs.org/1.4.0-beta.6/angular-route.min.js"></script>
		<script
			src="https://code.angularjs.org/1.4.0-beta.6/angular-resource.min.js"></script>
		<script
			src="https://code.angularjs.org/1.4.0-beta.6/angular-cookies.min.js"></script>
		<script
			src="https://code.angularjs.org/1.4.0-beta.6/angular-animate.min.js"></script>
		<script src="js/angular-hateoas.js"></script>
		<script src="js/marked.js"></script>
		<script src="js/angular-marked.min.js"></script>
		<script src="js/trinary-blog-v2.js"></script>
		
		<script src="js/sockjs.js"></script>
		<script src="js/stomp.js"></script>
	
		<link rel="stylesheet" href="css/main.css" />
	</head>
<body>
	<div ng-app="trinary-blog" ng-controller="app-controller">
		<div id="create-user-div" ng-show="shouldShow('create-user-div');">
			<h3>Create User</h3>
			<form name="createUserForm">
				<table>
					<tr><td>Username</td><td><input placeholder="Username" name="username" type="text" ng-model="newUser.username" required /></td></tr>
					<tr><td>Password</td><td><input placeholder="Password" name="password1" type="password" ng-model="newUser.password" required /></td></tr>
					<tr><td></td><td><input placeholder="Confirm Password" name="password2" type="password" ng-model="newUser.confirm" required /></td></tr>
					<tr><td>Email Address</td><td><input placeholder="Email Address" name="emailAddress" type="email" ng-model="newUser.emailAddress" required /></td></tr>
				</table>
				<button ng-disabled="createUserForm.$invalid" ng-click="hide($event, 'create-user-div'); createUser(newUser);">Submit</button><button ng-click="hide($event, 'create-user-div')">Cancel</button>
			</form>
		</div>
		<div id="header-div">
			<div id="page-title">The King of Space</div>
			<div id="page-subtitle">Space Blog</div>
			<div id="header-image"><img src="media/header.png" /></div>
			<div id="menu-div">
				<ul>
					<li>Home</li>
					<li>Projects</li>
					<li>Downloads</li>
					<li>Contact</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div id="auth-div">
			<div class="auth-login" ng-hide="authenticated">
				<form name="authForm">
					<input name="username" placeholder="username" type="text" value=""
						ng-model="creds.username" /> <input name="password"
						placeholder="password" type="password" value="" ng-model="creds.password" />
					<button ng-click="login(authForm, creds);">Login</button>
					<button ng-click="toggle($event, 'create-user-div');">Create User</button>
					<span class="error fade" ng-show="authFailed">{{authError}}</span>
				</form>
			</div>
			<div class="auth-current" ng-show="authenticated">
				<div>
					<img ng-src="{{principal.links.avatar}}?s=32&d=mm" />
				</div>
				<div>Welcome back {{principal.username}}. <span style="cursor: pointer;" ng-click="logout();">Logout</span>? Your session
					expires at {{token.expires | date: 'short'}}.</div>
			</div>
		</div>
		<div class="split-pane">
			<div id="blog-div">
				<div ng-controller="blog-controller" ng-init="page=1;pageSize=5;">
					<div id="blog-{{blog.blogId}}" class="blog"
						ng-repeat="blog in blogs">
						<div class="blog-header">
							<strong>{{blog.title}}</strong> posted by
							{{blog.author.username}} on {{blog.created | date: 'short'}}
						</div>
						<div class="blog-content clearfix">
							<div class="content-author">
								<img ng-src="{{blog.author.links.avatar}}?s=128&d=mm" />
							</div>
							<span ng-show="blog.preview" class="content-text" marked="preview(blog.text, 256);"></span>
							<span ng-show="blog.preview" ng-click="blog.preview = false;">(Click for More)</span>
							<span ng-show="!blog.preview" class="content-text" marked="blog.text"></span>
							<span ng-show="!blog.preview" ng-click="blog.preview = true;">(Click to Minimize)</span>
						</div>
						<div class="comments" ng-show="blog.preview">
							<div class="comment-count">
								This blog has {{blog.comments.length}} comments.  Expand the blog entry to read and leave comments...
							</div>
						</div>
						<div class="comments" ng-show="!blog.preview">
							<div id="blog-{{blog.blogId}}-comment"
								class="comment comment-form" ng-show="principal != null">
								<div class="comment-header">Post as {{principal.username}}</div>
								<div class="comment-preview"
									ng-show="newComment.text.length > 0">
									<div>Preview:</div>
									<div class="content-text clearfix">
										<div class="content-author">
											<img ng-src="{{principal.links.avatar}}?d=mm" />
										</div>
										<span class="comment-text" marked="newComment.text"></span>
									</div>
								</div>
								<div class="comment-content">
									<form name="commentForm">
										<textarea class="comment-textarea" name="comment.text"
											ng-model="newComment.text"></textarea>
										<button
											ng-click="submitComment(commentForm, blog, newComment);"
											ng-disabled="!newComment.text">Submit</button>
									</form>
								</div>
							</div>
							<div class="comment" ng-repeat="comment in blog.comments">
								<div class="comment-header">Posted by
									{{comment.author.username}} on {{comment.created |
									date:'short'}}</div>
								<div class="content-text clearfix">
									<div class="content-author">
										<img ng-src="{{comment.author.links.avatar}}?d=mm" />
									</div>
									<span class="comment-text" marked="comment.text"></span>
								</div>
							</div>
							<div class="comment-pages">
								<div>
									Comment Pages:&nbsp; <span class="page-selector"
										ng-if="blog.page != 1" ng-click="changeCommentPage(blog, 1)">&lt;&lt;</span>&nbsp;
									<span class="page-selector" ng-if="blog.page != 1"
										ng-click="changeCommentPage(blog, blog.page - 1)">&lt;</span>&nbsp;
									<span class="page-selector"
										ng-class="{selected: blog.page == p}"
										ng-repeat="p in range(1, blog.commentPage.pages)"
										ng-click="changeCommentPage(blog, p)">{{p}}&nbsp;</span>&nbsp;
									<span class="page-selector"
										ng-if="blog.page != blog.commentPage.pages"
										ng-click="changeCommentPage(blog, blog.page + 1)">&gt;</span>&nbsp;
									<span class="page-selector"
										ng-if="blog.page != blog.commentPage.pages"
										ng-click="changeCommentPage(blog, blog.commentPage.pages)">&gt;&gt;</span>
								</div>
							</div>
						</div>
					</div>
					<div class="blog-pages">
						<div>
							Blog Pages:&nbsp; <span class="page-selector" ng-if="page != 1"
								ng-click="changeBlogPage(blog, 1)">&lt;&lt;</span>&nbsp; <span
								class="page-selector" ng-if="page != 1"
								ng-click="changeBlogPage(blog, page - 1)">&lt;</span>&nbsp; <span
								class="page-selector" ng-class="{selected: page == p}"
								ng-repeat="p in range(1, blogPage.pages)"
								ng-click="changeBlogPage(blog, p)">{{p}}&nbsp;</span>&nbsp; <span
								class="page-selector" ng-if="page != blogPage.pages"
								ng-click="changeBlogPage(blog, page + 1)">&gt;</span>
						</div>
						<span class="page-selector" ng-if="page != blogPage.pages"
							ng-click="changeBlogPage(blog, blogPage.pages)">&gt;&gt;</span>
					</div>
				</div>
			</div>
			<div id="sidebar-div">
				<div class="sidebar-item" id="chat-div">
					<div class="header-div">Chat Box</div>
					<div ng-controller="chat-controller">
						<div id="chat-display"></div>
		    			<input id="chat-text" style="width: 300px; float: left;" type="text" ng-model="message" ng-disabled="!principal"></input>
		    			<button id="chat-send" style="width: 50px; float: right;" ng-click="sendMessage(message);" ng-disabled="!principal">Send</button>
	    			</div>
    			</div>
    			<div class="clearfix"></div>
    			<div class="sidebar-item">
    				<div class="header-div">Popular Blogs</div>
    				<div ng-controller="popular-blogs">
    					<ul>
    						<li>Test Blog 1</li>
    						<li>Test Blog 2</li>
    					</ul>
    				</div>
    			</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</body>
</html>