<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>trinary-blog</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
   		/WEB-INF/spring/applicationContext.xml
   		/WEB-INF/spring/securityContext.xml
    </param-value>
  </context-param>
  
  <servlet>
    <display-name>mvc-dispatcher-v1</display-name>
    <servlet-name>mvc-dispatcher-v1</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/servletContext-v1.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>mvc-dispatcher-v1</servlet-name>
    <url-pattern>/v1/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>mvc-dispatcher-v2</display-name>
    <servlet-name>mvc-dispatcher-v2</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/servletContext-v2.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>mvc-dispatcher-v2</servlet-name>
    <url-pattern>/v2/*</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>cors</filter-name>
    <filter-class>com.trinary.test.filter.SimpleCORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>cors</filter-name>
    <url-pattern>/*</url-pattern>
   </filter-mapping>
   
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>